<th:block th:include="include/header"></th:block>
<!--Include Navbar-->
<th:block th:include="include/navbar"></th:block>
<div class="container">
    <div class="row ">
        <div class="col-md-8 mb-4">
            <div class="alert alert-primary h-100" role="alert">
                <h5 th:text="${group.name}"></h5>
                <p th:text="'Semester: '+ ${group.semester.name}"></p>
                <p th:text="'Mentor: '+ ${group.mentor.name}+' ('+${group.mentor.username}+' - '+${group.mentor.email}+')'"></p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="alert alert-success h-100" role="alert">
                <h5>Team Leader</h5>
                <i class="bi bi-person"></i> <span th:utext="${group.leader.name}"></span><br>
                <i class="bi bi-card-heading"></i> <span th:utext="${group.leader.studentId}"></span><br>
                <i class="bi bi-envelope-at"></i> <span><a th:href="'mailto:'+${group.leader.email}"
                                                           th:utext="${group.leader.email}"></a></span>
            </div>
        </div>
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" th:each="team: ${group.members}">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" th:utext="${team.name}"></h5>
                    <div class="card-text">
                        <i class="bi bi-person"></i> <span th:utext="${team.username}"></span><br>
                        <i class="bi bi-card-heading"></i> <span th:utext="${team.studentId}"></span><br>
                        <i class="bi bi-envelope-at"></i> <span><a th:href="'mailto:'+${team.email}"
                                                                   th:utext="${team.email}"></a></span>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

<script>
    $('#table_id').DataTable();
</script>
</body>
</html>