<th:block th:include="include/header"></th:block>
<th:block th:include="include/navbar"></th:block>
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <form
              method="post"
              role="form"
              th:action="@{/teacher/group-update/id={id}(id=${group.id})}"
              th:object="${group}"
      >
        <div th:if="${param.success}">
          <div class="alert alert-primary">
            Update Group Successfully !!!
          </div>
        </div>
        <div th:if="${param.error}">
          <div class="alert alert-primary" th:text="${param.error}">

          </div>

        </div>
        <div class="mb-3">
          <label class="form-label">Semester</label>
          <select class="form-control select2" th:field="*{semesterId}" >
            <option th:each="semesterList : ${semesterList}"
                    th:value="${semesterList.id}"
                    th:text="${semesterList.name}"></option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="name">Name</label>
          <input class="form-control" id="name" th:field="*{name}" type="text" required>
          <p class="text-danger" th:errors="*{name}"
             th:if="${#fields.hasErrors('name')}"></p>
        </div>
        <div class="mb-3">
          <label class="form-label">Mentor</label>
          <select class="form-control select2" th:field="*{mentorId}" >
            <option th:each="userList : ${userList}"
                    th:value="${userList.id}"
                    th:text="${userList.username}"></option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Leader</label>
          <select class="form-control select2" th:field="*{leaderId}" >
            <option th:each="userList : ${userList}"
                    th:value="${userList.id}"
                    th:text="${userList.name} + ' ('+${userList.username}+')'"></option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Member</label>
          <select class="form-control select2" th:field="*{members}" multiple>
            <option th:each="userList : ${userList}"
                    th:value="${userList.id}"
                    th:text="${userList.name} + ' ('+${userList.username}+')'"></option>
          </select>
        </div>


        <div class="mb-3">
          <button class="btn btn-primary mb-3" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>