<th:block th:include="include/header"></th:block>
<!--Include Navbar-->
<th:block th:include="include/navbar"></th:block>
<div class="container">
    <h2 th:text="${type}"></h2>
    <a href="/teacher/project-manager/all" type="button" class="btn btn-primary mb-4">All Group</a>
    <a href="/teacher/project-manager" type="button" class="btn btn-primary mb-4">My Group</a>
    <table id="table_id" class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Group</th>
            <th scope="col">Leader</th>
            <th scope="col">Mentor</th>
            <th scope="col">Status</th>
            <th scope="col">Register Date</th>
            <th scope="col">Response Date</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project: ${projectList}">
            <td th:utext="${project.name}">...</td>
            <td th:utext="${project.group.name}">...</td>
            <td th:utext="${project.group.mentor.username}">...</td>
            <td th:utext="${project.group.leader.username}">...</td>
            <td>
                <span class="badge text-bg-primary" th:if="${project?.status.equals('new')}"
                      th:utext="'Status: '+${project?.status}"></span>
                <span class="badge text-bg-danger" th:if="${project?.status.equals('rejected')}"
                      th:utext="'Status: '+${project?.status}"></span>
                <span class="badge text-bg-success" th:if="${project?.status.equals('approved')}"
                      th:utext="'Status: '+${project?.status}"></span>
                <span class="badge text-bg-warning" th:if="${project?.status.equals('in-processing')}"
                      th:text="${project?.status}"></span>
            </td>
            <td th:utext="${#dates.format(project.dateRegister, 'dd-MM-yyyy HH:mm:ss')}"></td>
            <td th:utext="${#dates.format(project.dateStatus, 'dd-MM-yyyy HH:mm:ss')}"></td>
            <td>
                <a type="button" class="btn btn-primary" th:href="@{/teacher/project-detail/id={id}(id=${project.id})}">Detail</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<th:block th:include="include/footer"></th:block>

</body>
</html>