<th:block th:include="include/header"></th:block>
<th:block th:include="include/navbar"></th:block>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form
                    method="post"
                    role="form"
                    th:action="@{/admin/semester-update/id={id}(id=${semester.id})}"
                    th:object="${semester}"
            >
                <h1>Update Semester</h1>
                <div th:if="${param.success}">
                    <div class="alert alert-primary">
                        Update Semester Successfully !!!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" id="name" th:field="*{name}" type="text">
                    <p class="text-danger" th:errors="*{name}"
                       th:if="${#fields.hasErrors('name')}"></p>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="from">From</label>
                    <input class="form-control" id="from" th:field="*{fromDate}" type="date">
                    <p class="text-danger" th:errors="*{fromDate}"
                       th:if="${#fields.hasErrors('fromDate')}"></p>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="to">To</label>
                    <input class="form-control" id="to" th:field="*{toDate}" type="date">
                    <p class="text-danger" th:errors="*{toDate}"
                       th:if="${#fields.hasErrors('toDate')}"></p>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary mb-3" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<th:block th:include="include/footer"></th:block>
</body>
</html>