<th:block th:insert="~{include/header}"></th:block>
<!--Include Navbar-->
<th:block th:insert="~{include/navbar}"></th:block>
<div class="container">
    <h2>Semester List</h2>
    <a href="/admin/semester-add" type="button" class="btn btn-warning mb-4">Add New Semester</a>
    <table id="table_id" class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="semester: ${semesterList}">
            <td th:utext="${semester.id}">...</td>
            <td th:utext="${semester.name}">...</td>
            <td th:utext="${#dates.format(semester.fromDate, 'dd-MM-yyyy')}">...</td>
            <td th:utext="${#dates.format(semester.toDate, 'dd-MM-yyyy')}">...</td>
            <td width="15%">
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-warning"
                       th:href="@{/admin/semester-update/id={id}(id=${semester.id})}">Update</a>
                    <a type="button" class="btn btn-danger"
                       th:href="@{/admin/semester-delete/id={id}(id=${semester.id})}">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<th:block th:insert="~{include/footer}"></th:block>

</body>
</html>