<th:block th:insert="~{include/header}"></th:block>
<!--Include Navbar-->
<th:block th:insert="~{include/navbar}"></th:block>
<div class="container">
    <h2>Materials List</h2>
    <table id="table_id" class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">File Name</th>
            <th scope="col">Post By</th>
            <th scope="col">Files</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="material: ${materialList}">
            <td th:utext="${material.name}">...</td>
            <td th:utext="${material.description}">...</td>
            <td th:utext="${material.fileName}">...</td>
            <td th:utext="${material.user.username}">...</td>
            <td><a class="badge text-bg-primary" target="_blank" th:href="${material.fileUrl}">Download</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<th:block th:insert="~{include/footer}"></th:block>

</body>
</html>