<th:block th:include="include/header"></th:block>
<!--Include Navbar-->
<th:block th:include="include/navbar"></th:block>
<div class="container">
    <h2>Technology List</h2>
    <a href="/admin/technology-add" type="button" class="btn btn-warning mb-4">Add New Technology</a>
    <table id="table_id" class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tech: ${technologyList}">
            <td th:utext="${tech.id}">...</td>
            <td th:utext="${tech.name}">...</td>
            <td th:utext="${tech.category}">...</td>
            <td width="15%">
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-warning"
                       th:href="@{/admin/technology-update/id={id}(id=${tech.id})}">Update</a>
                    <a type="button" class="btn btn-danger"
                       th:href="@{/admin/technology-delete/id={id}(id=${tech.id})}">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<th:block th:include="include/footer"></th:block>

</body>
</html>