<th:block th:insert="~{include/header}"></th:block>
<!--Include Navbar-->
<th:block th:insert="~{include/navbar}"></th:block>
<div class="container">
    <h2>My List</h2>
    <a href="/admin/user-add" type="button" class="btn btn-warning mb-4">Add New User</a>
    <table id="table_id" class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Student ID</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account: ${userList}">
            <td th:utext="${account.name}">...</td>
            <td th:utext="${account.username}">...</td>
            <td th:utext="${account.email}">...</td>
            <td th:utext="${account.studentId}">...</td>
            <td>
                <div th:each="roles: ${account.roles}">
                    <span class="badge text-bg-primary" th:utext="${roles.name}"></span>
                </div>
            </td>
            <td width="15%">
                <div class="btn-group" role="group">
                    <a type="button" class="btn btn-warning" th:href="@{/admin/user-update/id={id}(id=${account.id})}">Update</a>
                    <a type="button" class="btn btn-danger" th:href="@{/admin/user-delete/id={id}(id=${account.id})}">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<th:block th:insert="~{include/footer}"></th:block>

</body>
</html>