<th:block th:include="include/header"></th:block>
<!--Include Navbar-->
<th:block th:include="include/navbar"></th:block>
<div class="container">
  <h2>Account List</h2>
  <a href="/admin/user-add" type="button" class="btn btn-warning mb-4">Add New User</a>
  <table id="table_id" class="table table-bordered table-striped">
    <thead class="table-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Full Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Student ID</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account: ${userList}">
      <td th:utext="${account.id}">...</td>
      <td th:utext="${account.name}">...</td>
      <td th:utext="${account.username}">...</td>
      <td th:utext="${account.email}">...</td>
      <td th:utext="${account.studentId}">...</td>
      <td><div th:each="roles: ${account.roles}">
        <span class="badge text-bg-primary" th:utext="${roles.name}"></span>
      </div>
      </td>
      <td width="15%"><div class="btn-group" role="group">
        <a type="button" class="btn btn-warning" th:href="@{/admin/user-update/id={id}(id=${account.id})}">Update</a>
        <a type="button" class="btn btn-danger" th:href="@{/admin/user-delete/id={id}(id=${account.id})}">Delete</a>
      </div></td>
    </tr>
    </tbody>
  </table>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

<script>
  $('#table_id').DataTable();
</script>
</body>
</html>